.DS_store
.vscode
.nfs*
output*
bakgnd*
signal*
Compare.root
LHeC_CC_H4l.Had.Delphes.root
LHeC_CC_H4l.Had.Delphes.v2.root
LHeC_CC_H4l.Parton.Delphes.v2.root
Process
Graphs/*
old.log
old.root
errorlog
TestCanvas.png
stacktest.png
